<!DOCTYPE html>
<html>
<head>
  <title>Afonso Pais apresenta “Terra Concreta”</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="margem_header">
    <%= render 'layouts/header' %>
</div>
    <div class="sem-container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
</body>
</html>
